{% extends "home/base_operation.html" %}

{% block home %}

    <script type="text/javascript" language="JavaScript">
            function excel()
            {
                 alert("Submitted successfully, Please wait !")
            }
     </script>


    <style type="text/css">

        td{
            vertical-align: middle;
            text-align: center;
            white-space: nowrap;
        }

        th{
            vertical-align: middle;
            text-align: center;
            white-space: nowrap;

        }
    </style>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" border="0">
                <tr>
                    <td class="firstBigTitle">
                         ﴾ بِسْمِ اللّٰهِ الرَّحْمٰنِ الرَّح۪يم &nbsp;&nbsp;&nbsp; ﴿ وَإِذَا مَرِضۡتُ فَهُوَ يَشۡفِينِ
                    </td>
                </tr>

            </table>
        </div>
    </div>





{% endblock home %}


