{% extends "home/base_hospitalized.html" %}

{% block home %}


    <style type="text/css">

        td{
            vertical-align: middle;
            text-align: center;
            white-space: nowrap;
        }

        th{
            vertical-align: middle;
            text-align: center;
            white-space: nowrap;

        }
    </style>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" border="0">
                <tr>
                    <td class="firstBigTitle">
                         ﴾ بِسْمِ اللّٰهِ الرَّحْمٰنِ الرَّح۪يم &nbsp;&nbsp;&nbsp; ﴿ وَإِذَا مَرِضۡتُ فَهُوَ يَشۡفِينِ
                    </td>
                </tr>

            </table>
        </div>
    </div>

    <!--统计查询-->
    {% for menu in user.authorityMenu.all %}

        {% if menu.menu_category.name == 'Statistics Menu' %}

            {% if user.language == 1 %}

                <div class="card-body">
                    <div class="card-header"><h2 class="firstBigTitle">إحصائيات</h2></div>

                    <table class="table table-hover">
                        <form action="{% url 'excelPatientInfo' %}" method="post">
                            {% csrf_token %}
                            <tr>
                                <th class="thirdBigMenu">احصائية</th>
                                <th class="thirdBigMenu">تاريخ البدء</th>
                                <th class="thirdBigMenu">تاريخ الانتهاء</th>
                                <th rowspan="2"><input type="submit" class="btn btn-info forthNormalText" value="اكسل" onclick="excel()"></th>
                            </tr>

                            <tr>
                                <td class="has-info"><label>
                                    <select name="types" class="form-control normalText" required>
                                        <option value=""></option>
                                        <option value="Hospitalization">قبول المشفى</option>
                                        <option value="Operation">عملية</option>
                                        <option value="Polyclinic">عيادة</option>
                                        <option value="Emergency">اسعاف</option>
                                        <option value="Discharge">خروج</option>
                                        <option value="AllPatients">كل المرضى</option>
                                        <option value="Laboratory">المخبر</option>
                                    </select>
                                </label></td>

                                <td class="has-info"><input type="datetime-local" class="form-control" name="start" required></td>
                                <td class="has-info"><input type="datetime-local" class="form-control" name="end" required></td>
                            </tr>

                        </form>
                    </table>

                </div>

            {% elif user.language == 2 %}

                <div class="card-body">
                    <div class="card-header"><h2 class="firstBigTitle">Statistics</h2></div>

                    <table class="table table-hover">
                        <form action="{% url 'excelPatientInfo' %}" method="post">
                            {% csrf_token %}
                            <tr>
                                <th class="thirdBigMenu">Type</th>
                                <th class="thirdBigMenu">Start Date</th>
                                <th class="thirdBigMenu">End Date</th>
                                <th rowspan="2"><input type="submit" class="btn btn-info" value="Excel" onclick="excel()"></th>
                            </tr>

                            <tr>
                                <td class="has-info"><label>
                                    <select name="types" class="form-control normalText" required>
                                        <option value=""></option>
                                        <option value="Hospitalization">Hospitalization</option>
                                        <option value="Operation">Operation</option>
                                        <option value="Polyclinic">Polyclinic</option>
                                        <option value="Emergency">Emergency</option>
                                        <option value="Discharge">Discharge</option>
                                        <option value="allPatients">All Patients</option>
                                        <option value="Laboratory">Laboratory</option>
                                    </select>
                                </label></td>

                                <td class="has-info"><input type="datetime-local" class="form-control" name="start" required></td>
                                <td class="has-info"><input type="datetime-local" class="form-control" name="end" required></td>
                            </tr>

                        </form>
                    </table>

                </div>

            {% endif %}

        {% endif %}

    {% endfor %}



{% endblock home %}


