{% extends "home/base_hospitalized.html" %}

{% block home %}


    <div class="card-body">

        {% if user.language == 1 %}

            <form class="form-horizontal" action="{% url 'searchHospitalizedPatient' %}" method="post" dir="rtl">
                {% csrf_token %}
                <div class="form-group has-info">

                    <div class="col-md-4"></div>

{#                     <div class="col-md-2">#}
{#                        <button class="btn btn-info forthNormalText" type="submit">بحث</button>#}
{#                    </div>#}

{#                    <div class="col-md-1"></div>#}

                    <label for="search"></label>
                    <div class="col-md-4">
                        <input class="form-control forthNormalText" type="search" list="patientList" name="search" placeholder="بحث" autofocus>
                        <datalist id="patientList">
                            {% for patient in patients %}
                                <option value="{{ patient.basicInfo.name }}">
                            {% endfor %}
                        </datalist>
                    </div>

                    <div class="col-md-1"></div>

                </div>

            </form>


            <div class="table-responsive">

                <table class="table table-sort">
                    <thead >

                        <tr class="forthBigMenu">
                            <th>#</th>
                            <th>اسم المريض</th>
                            <th>رقم المريض</th>
                            <th>العمر</th>
                            <th>تاريخ القبول</th>
                            <th>جناح</th>
                            <th>الحالة</th>

                        </tr>
                    </thead>

                    {% for patient in page %}

                        <tr class="forthNormalText">
                            <th scope="row">{{ forloop.counter }}</th>
                            <th style="font-family: Calibri; font-size: 16px"><a href="{% url 'viewBasicInfo' patient.id patient.patientID %}">{{ patient.basicInfo.name }}</a></th>
                            <td>{{ patient.patientID }}</td>
                            <td>{{ patient.basicInfo.age }}</td>
                            <td>{{ patient.enterDate}}</td>
                            <td>
                                {% if patient.sickroom %}
                                    {{ patient.sickroom.arabic_name }}
                                {% else %}
                                    Polyclinic
                                {% endif %}
                            </td>

                            {% if patient.condition >= 1 and patient.condition <= 2 %}
                                <td><a><i class="mdi mdi-18px mdi-checkbox-marked-circle"></i></a></td>
                            {% else %}
                                <td><a><i style="color: red" class="mdi mdi-18px mdi-close-circle"></i></a></td>
                            {% endif %}
                        </tr>

                    {% endfor %}

                      <tr><td colspan="7" style="text-align: center" class="message">{{ message }}</td></tr>
                         <tr>
                                <td colspan="7" style="font-size: larger; text-align: center">
                                    <ul class="pagination pagination-circle">
                                        {% if page.has_previous %}
                                            <li class=""><a href="/patientList{{ page.previous_page_number }}"><span>«</span></a></li>
                                        {% endif %}

                                        {% for pindex in page.paginator.page_range %}
                                            {% if pindex == page.number  %}
                                                <li class="active"><span>{{ pindex }}</span></li>
                                            {% elif pindex < 8 %}
                                                <li><a href="/patientList{{ pindex }}">{{ pindex }}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if page.has_next %}
                                            <li><a href="/patientList{{ page.next_page_number }}">»</a></li>
                                        {% endif %}
                                    </ul>
                                </td>
                          </tr>

                    </table>

            </div>

        {% elif user.language == 2 %}

            <form class="form-horizontal" action="{% url 'searchHospitalizedPatient' %}" method="post">
                {% csrf_token %}
                <div class="form-group has-info">

                    <div class="col-md-3"></div>

                    <label for="search"></label>
                    <div class="col-md-4">
                        <input class="form-control" type="search" list="patientList" name="search" placeholder="Search" autofocus>
                        <datalist id="patientList">
                            {% for patient in patients %}
                                <option value="{{ patient.basicInfo.name }}">
                            {% endfor %}
                        </datalist>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-info" type="submit">Search</button>
                    </div>

                    <div class="col-md-3"></div>

                </div>

            </form>


            <div class="table-responsive">

                <table class="table table-sort">
                    <thead >

                        <tr class="forthBigMenu">
                            <th>#</th>
                            <th>Name</th>
                            <th>Patient ID</th>
                            <th>Age</th>
                            <th>Enter Date</th>
                            <th>Ward</th>
                            <th>Status</th>

                        </tr>
                    </thead>

                    {% for patient in page %}

                        <tr class="forthNormalText">
                            <th scope="row">{{ forloop.counter }}</th>
                            <th style="font-family: Calibri; font-size: 16px"><a href="{% url 'viewBasicInfo' patient.id patient.patientID %}">{{ patient.basicInfo.name }}</a></th>
                            <td>{{ patient.patientID }}</td>
                            <td>{{ patient.basicInfo.age }}</td>
                            <td>{{ patient.enterDate}}</td>
                            <td>
                                {% if patient.sickroom %}
                                    {{ patient.sickroom }}
                                {% else %}
                                    Polyclinic
                                {% endif %}
                            </td>

                            {% if patient.condition >= 1 and patient.condition <= 2 %}
                                <td><a><i class="mdi mdi-18px mdi-checkbox-marked-circle"></i></a></td>
                            {% else %}
                                <td><a><i style="color: red" class="mdi mdi-18px mdi-close-circle"></i></a></td>
                            {% endif %}
                        </tr>

                    {% endfor %}

                      <tr><td colspan="7" style="text-align: center" class="message">{{ message }}</td></tr>
                         <tr>
                                <td colspan="7" style="font-size: larger; text-align: center">
                                    <ul class="pagination pagination-circle">
                                        {% if page.has_previous %}
                                            <li class=""><a href="/patientList{{ page.previous_page_number }}"><span>«</span></a></li>
                                        {% endif %}

                                        {% for pindex in page.paginator.page_range %}
                                            {% if pindex == page.number  %}
                                                <li class="active"><span>{{ pindex }}</span></li>
                                            {% elif pindex < 8 %}
                                                <li><a href="/patientList{{ pindex }}">{{ pindex }}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if page.has_next %}
                                            <li><a href="/patientList{{ page.next_page_number }}">»</a></li>
                                        {% endif %}
                                    </ul>
                                </td>
                          </tr>

                    </table>

            </div>

        {% endif %}



    </div>




{% endblock home %}


