{% extends "home/base_booking.html" %}

{% block home %}


    <script type="text/javascript" language="JavaScript">

        function deletePolyclinicPatient() {
            if(confirm("Are you sure to delete ?")){
                return true
            }
            else {
                return false
            }
        }

    </script>

    <style type="text/css">

        td{
            vertical-align: middle;
            text-align: center;
            white-space: nowrap;
        }

        th{
            vertical-align: middle;
            text-align: center;
            white-space: nowrap;
        }

    </style>


    {% if user.language == 1 %}

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="table" align="center">

                            <thead>
                                <tr class="forthBigMenu">
                                    <th>#</th>
                                    <th>اسم المريض</th>
                                    <th>العمر</th>
                                    <th>السكن</th>
                                    <th>رقم المريض</th>
                                    <th>سجل الحجز</th>
                                </tr>
                            </thead>

                            <tbody>

                                {% for patient in patients %}

                                    <tr class="forthNormalText">
                                        <th>{{ forloop.counter }}</th>
                                        <th>{{ patient.basicInfo.name }}</th>
                                        <th>{{ patient.basicInfo.age }}</th>
                                        <td>{{ patient.basicInfo.address }}</td>
                                        <td>{{ patient.patientID }}</td>

                                        <td>
                                            <a href="{% url 'bookingDetail' patient.id %}">
                                                <i class="mdi mdi-comment-text-outline mdi-24px" style="color: #33cccc" title="تفاصيل" data-toggle="tooltip" data-placement="left"></i>
                                            </a>
                                            &nbsp;&nbsp;
                                            <a href="#" type="button" data-toggle="modal" data-target="#booking{{ patient.id }}">
                                               <i class="mdi mdi-pencil mdi-24px" style="color: #33cccc" title="سجل" data-toggle="tooltip" data-placement="right"></i>
                                            </a>
                                        </td>

                                    </tr>

                                    <!--Add new booking -->
                                    <div class="modal fade" id="booking{{ patient.id }}" tabindex="-1" role="dialog" aria-labelledby="addRecordModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="addRecordModalLabel" style="font-family: Calibri; font-size: 20px">سجل الحجز</h4>
                                                </div>

                                                <form action="/bookingOperation/{{ patient.id }}" method="post">
                                                    {% csrf_token %}

                                                    <div class="modal-body">
                                                        <div class="row" style="font-family: Calibri; font-size: 18px">
                                                            <div class="col-md-2" style="color: #AE4C4C">العمل الجراحي</div>
                                                            <div class="col-md-4 col-xs-4 has-info" style="height: 1px;">
                                                                <input type="text" name="name" list="nameList" class="form-control" maxlength="35" required>
                                                                <datalist id="nameList">
                                                                    {% for operation in operationNames %}
                                                                        <option value="{{ operation.name }}">
                                                                    {% endfor %}
                                                                </datalist>
                                                            </div>

                                                            <div class="col-md-2" style="color: #AE4C4C">الطبيب الجراح</div>
                                                            <div class="col-md-4 col-xs-4 has-info" style="height: 1px;">
                                                                <input class="form-control" type="text" list="doctorsList" name="doctor" maxlength="35" required>
                                                                <datalist id="doctorsList">
                                                                    {% for doctor in doctors %}
                                                                        <option value="{{ doctor.arabic_name }}">
                                                                    {% endfor %}
                                                                </datalist>
                                                            </div>

                                                            <div class="col-md-12" style="color: #205072"><hr></div>

                                                            <div class="col-md-2" style="color: #AE4C4C">التاريخ</div>
                                                            <div class="col-md-4 col-xs-4 has-info" style="height: 1px;">
                                                                <input type="date" name="begin" class="form-control" required>
                                                            </div>

                                                            <div class="col-md-2" style="color: #AE4C4C">مدة(ساعة)</div>
                                                            <div class="col-md-4 col-xs-4 has-info" style="height: 1px;">
                                                                <input type="text" name="timeOfOperation" class="form-control" required oninput="setCustomValidity(''); value=value.replace(/[^\d]/g,'')">
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="modal-footer" style="text-align: center">
                                                        <button type="submit" class="btn btn-info">Submit</button>
                                                    </div>

                                                </form>

                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}

                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>


{#    {% elif user.language == 2 %}#}
{##}
{#        <div class="col-lg-12">#}
{#            <div class="card">#}
{#                <div class="card-body">#}
{#                    <div class="table-responsive">#}
{##}
{#                        <table class="table" align="center">#}
{##}
{#                            <thead>#}
{#                                <tr class="forthBigMenu">#}
{#                                    <th>#</th>#}
{#                                    <th>Name</th>#}
{#                                    <th>Age</th>#}
{#                                    <th>Arrive</th>#}
{#                                    <th>Finish</th>#}
{#                                    <th>Delete</th>#}
{#                                </tr>#}
{#                            </thead>#}
{##}
{#                            <tbody>#}
{##}
{#                                {% for patient in patients %}#}
{##}
{#                                    <tr>#}
{#                                        <th>{{ forloop.counter }}</th>#}
{#                                        <th>{{ patient.basicInfo.name }}</th>#}
{#                                        <th>{{ patient.basicInfo.age }}</th>#}
{##}
{#                                        <td>#}
{#                                            <a href="/arrived/{{ patient.id }}/{{ url_str }}/{{ url_num }}">#}
{#                                            <input type="button" class="btn btn-danger" value="Not"></a>#}
{#                                        </td>#}
{##}
{#                                        <td>#}
{#                                            {% if patient.condition == 5 %}#}
{#                                                <a><i style="color: red" class="mdi mdi-18px mdi-close-circle"></i></a>#}
{#                                            {% else %}#}
{#                                                <a><i class="mdi mdi-18px mdi-checkbox-marked-circle"></i></a>#}
{#                                            {% endif %}#}
{#                                        </td>#}
{##}
{#                                        <td><a onclick="return deletePolyclinicPatient()" href="/deletePolyclinicPatient/{{ patient.id }}/{{ url_str }}/{{ url_num }}" ><i class="mdi mdi-18px mdi-delete"></i></a></td>#}
{##}
{#                                    </tr>#}
{##}
{#                                {% endfor %}#}
{##}
{#                            </tbody>#}
{##}
{#                        </table>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

    {% endif %}





{% endblock home %}

