{% extends "home/base_laboratory.html" %}

    {% block home %}

    <style type="text/css">

        td{
            vertical-align: middle;
            text-align: center;
            white-space: nowrap;
        }

        th{
            vertical-align: middle;
            text-align: center;
            white-space: nowrap;

        }
    </style>



    <div class="card-body">

        <div class="table-responsive" >

            {% if user.language == 1 %}

                <table class="table">

                    <thead>
                        <tr class="forthBigMenu">
                            <th>#</th>
                            <th>اسم المريض</th>
                            <th>رقم المريض</th>
                            <th>العمر</th>
                            <th>جناح</th>
                            <th colspan="2">عمل</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for patient in patients %}

                            <tr class="forthNormalText">
                                <td>{{ forloop.counter }}</td>
                                <th>{{ patient.basicInfo.name }}</th>
                                <td>{{ patient.patientID }}</td>
                                <td>{{ patient.basicInfo.age }}</td>

                                {% if patient.sickroom %}
                                    <td>{{ patient.sickroom.arabic_name }}</td>
                                {% elif patient.polyclinicDepartment %}
                                    <td>{{ patient.polyclinicDepartment }}</td>
                                {% endif %}

                                <td>
                                    <a href="{% url 'results' patient.id patient.patientID %}" title="Check" data-toggle="tooltip" data-placement="left">
                                        <i class="mdi mdi-comment-text-outline mdi-24px" style="color: #33cccc"></i>
                                    </a>
                                </td>

                                <td>
                                    <a href="{% url 'laboratory' patient.id patient.patientID %}" title="Write Result" data-toggle="tooltip" data-placement="left">
                                        <i class="mdi mdi-lead-pencil mdi-24px" style="color: #33cccc"></i>
                                    </a>
                                </td>

                            </tr>

                        {% endfor %}

                        <tr><td colspan="7" style="text-align: center" class="message">{{ message }}</td></tr>

                    </tbody>

                </table>

            {% elif user.language == 2 %}

                <table class="table">

                    <thead>
                        <tr class="forthBigMenu">
                            <th>#</th>
                            <th>Name</th>
                            <th>Patient ID</th>
                            <th>Age</th>
                            <th>Ward</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for patient in patients %}

                            <tr class="forthNormalText">
                                <td>{{ forloop.counter }}</td>
                                <th>{{ patient.basicInfo.name }}</th>
                                <td>{{ patient.patientID }}</td>
                                <td>{{ patient.basicInfo.age }}</td>

                                {% if patient.sickroom %}
                                    <td>{{ patient.sickroom }}</td>
                                {% elif patient.polyclinicDepartment %}
                                    <td>{{ patient.polyclinicDepartment }}</td>
                                {% endif %}

                                <td>
                                    <a href="{% url 'results' patient.id patient.patientID %}" title="Check" data-toggle="tooltip" data-placement="left">
                                        <i class="mdi mdi-comment-text-outline mdi-24px" style="color: #33cccc"></i>
                                    </a>
                                </td>

                                <td>
                                    <a href="{% url 'laboratory' patient.id patient.patientID %}" title="Write Result" data-toggle="tooltip" data-placement="left">
                                        <i class="mdi mdi-lead-pencil mdi-24px" style="color: #33cccc"></i>
                                    </a>
                                </td>

                            </tr>

                        {% endfor %}

                        <tr><td colspan="7" style="text-align: center" class="message">{{ message }}</td></tr>

                    </tbody>

                </table>

            {% endif %}



        </div>

    </div>




{% endblock home %}



